* {
    font-family: Verdana, sans-serif;
}

#logo {
    margin-top: 20px;
    border-radius: 80px;
}

#header {
    background-color: rgba(255, 255, 255, 0.4);
    color: black;
    max-width: 480px;
    border-radius: 10px;
    text-align: center;
}

#container {
    display: flex;
    background-image: url(./img/fundo.churras.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: 1080px;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#main {
    background-color: rgb(197, 7, 7);
    border: solid 2px white;
    border-radius: 30px;
    padding: 20px;
    text-align: center;
}

#title {
    padding: 20px;
}

.inputss {
    display: block;
    border: solid 1px black;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
}

#calcular {
    background-color: black;
    border: solid 1px white;
    color: white;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

@media screen and (min-width:1200px) {
    #container {
        height: 800px;
        width: 1100px;
        justify-content: space-between;
    }
}

@media screen and (max-width:1135px) {
    #container {
        display: flex;
        flex-direction: column;
        width: 860px;
        height: 980px;
        justify-content: space-between;
    }
}

@media screen and (max-width:935px) {
    #container {
        display: flex;
        flex-direction: column;
        width: 780px;
        height: 980px;
        justify-content: space-between;
    }
}

@media screen and (max-width:868px) {
    #container {
        display: flex;
        flex-direction: column;
        width: 680px;
        height: 980px;
        justify-content: space-between;
    }
}

@media screen and (max-width:768px) {
    #container {
        display: flex;
        flex-direction: column;
        width: 550px;
        height: 980px;
        justify-content: space-between;
    }
}

@media screen and (max-width:650px) {
    #container {
        display: flex;
        flex-direction: column;
        width: 400px;
        height: 980px;
        justify-content: space-between;
    }
}